@import "colors-waybar.css";

window#waybar {
  font-family: FiraSans Semibold;

  color: @foreground;
  background-color: @background;

  opacity: .8;
  
  border-radius: 50px;
}

#workspaces {
  margin: 5px;

  font-weight: bold;

  background-color: @color3;

  border-radius: 50px;

  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @color9;

  border-radius: 50px;
}

#window {
  margin: 5px;
  
  padding: 0 10px;

  background-color: @color3;
  
  border-radius: 50px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#tray {
  margin: 5px;
}

#pulseaudio {
  margin: 5px;
  
  padding: 0 10px;

  background-color: @color3;

  border-radius: 50px;
}

#network {
  margin: 5px;
  
  padding: 0 10px;

  background-color: @color3;

  border-radius: 50px;
}

#backlight {
  margin: 5px;
  
  padding: 0 10px;

  background-color: @color3;

  border-radius: 50px;
}

#cpu {
  padding: 0 10px;
} 

#memory {
  padding: 0 10px;
} 

#temperature {
  padding: 0 10px;
}

#power-profiles-daemon {
  padding: 0 10px;
}

#custom-system {
  padding: 0 10px;
}

#hardware {
  margin: 5px;
  
  background-color: @color3;

  border-radius: 50px;
}

#battery {
  margin: 5px;
  
  padding: 0 10px;

  background-color: @color3;

  border-radius: 50px;
}

#glock {
  margin: 5px;
  
  padding: 0 10px;

  background-color: @color3;

  border-radius: 50px;
}

#custom-notification {
  margin-left: 10px;
}

#custom-power {
  margin: 5px;
}
